@{
    ViewData["Title"] = "Contact Page";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div style="height: 80%;">
    <div data-aos="fade-up">
        <h1>@ViewData["Title"]</h1>
        <p> Contact Us At:
           Headquarters Address: 3060 Kimball Bridge Rd Ste 200, Alpharetta, GA 30022
          <p> Phone number: (678) 514-3500</p>
       </p>
    </div>

</div>