@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<div style="height: 80%;">
    <div data-aos="fade-up">
        <h1>@ViewData["Title"]</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>

</div>
