@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap/dist/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/services.css" rel="stylesheet"/>
</head>

<div id="root">

</div>

<script src="~/lib/react/build/react.min.js"></script>
<script src="~/lib//react/build/react-dom.min.js"></script>

@*Components*@
<script type="module" src="@Url.Content("~/js/react/services/components/Button.jsx")"></script>
<script type="module" src="@Url.Content("~/js/react/services/components/Card.jsx")"></script>

@*Pages*@
<script type="module" src="@Url.Content("~/js/react/services/pages/Main.jsx")"></script>


<script type="module" src="@Url.Content("~/js/react/services/index.jsx")"></script>

@*Bootstrap*@
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
