div {
    text-align: center;
}

.titlePic {
    background-image: url('/images/services.png');
    height: 500px;
    background-size:cover;
    color: white;
}

.darkFilm {
    padding: 100px 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
}

.row h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: 900;
    text-shadow: 1px 1px 3px black;
    color: gray;
}

.row ul {
    list-style: none;
}

.row li {
    margin: 20px 0;
    text-decoration: none;
}

.shadow {
    box-shadow: 1px 1px 3px black;
    padding-bottom: 100px;
    border-radius: 25px;
}