@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


<div id="root">

</div>

<script src="~/lib/react/build/react.min.js"></script>
<script src="~/lib//react/build/react-dom.min.js"></script>

@*Components*@
<script type="module" src="@Url.Content("~/js/react/reviews/components/Button.jsx")"></script>


@*Pages*@
<script type="module" src="@Url.Content("~/js/react/reviews/pages/Main.jsx")"></script>


<script type="module" src="@Url.Content("~/js/react/reviews/index.jsx")"></script>